PORT=4000
ORIGIN=http://localhost:4000
MONGODB_URI=mongodb://localhost:27017/login-register-test
ACCESS_TOKEN=fyCvqGhCRYV2RXl62wCHWtyXlQv0kc6ysajj6E106PDtXOG2hs
REFRESH_TOKEN=8jv5VpDOEWr6PVR4KZKqiYVcM7dynzFzVuXRixf0yi73JWyG8G