PORT = 8000

ORIGIN = ["http://localhost:8000/", ]

DB_URL = "mongodb://localhost/Quick-Checkout"

ACCESS_TOKEN = "fyCvqGhCRYV2RXl62wCHWtyXlQv0kc6ysajj6E106PDtXOG2hs"

REFRESH_TOKEN = "8jv5VpDOEWr6PVR4KZKqiYVcM7dynzFzVuXRixf0yi73JWyG8G"

EMAIL_USER = "USER@EMAIL.COM"

EMAIL_PASS = "APP-PASSWORD" #Generate 16-digit app password from gmail